<div class="modal">

    <!-- Modal header bar -->
    <header class="bar bar-header bar-secondary">
      <h1 class="title">Ta bort</h1>
    </header>

    <!-- Modal content area -->
    <ion-content has-header="true" class="custom-margin">

          <div class="text-center">Er du sikker på at du vil ta bort dette utstyret?</div>
        <div class="row">
        
        <div class="button-bar custom-margin">
          <button class="button button-balanced extra-padding-left" ng-click="delete()">Ja</button>
          <button class="button button-assertive extra-padding-right" ng-click="closeModal()">Nei</button>

        </div>
        </div>

    </ion-content>

  </div>
