<ion-view title="{{e.model}}">
  <ion-content has-header="true" padding="true">
      <div class="list">

      <div class="item">
        <h2>{{name}}</h2>
      </div>
      <div class="item item-button-right">
            Denne er: <b>{{availability(e)}}</b>
           <button class="button" ng-class="{'button-assertive' : loan, 'button-balanced' : !loan}" ng-click="startLoan()">
              <i class="icon" ng-class="{'ion-arrow-left-c' : loan, 'ion-arrow-right-c' : !loan}"></i>
            </button>
      </div>

      <div class="item item-body">
          <h2>Tilbehør</h2>
            <ul>
                <li>Laddare</li>
                <li>Øretelefoner</li>
            </ul>
      </div>
    </div>
      <div class="list">
          <div class="item">
            <h2>Tidligere utlån</h2>
          </div>
          <div class="item">
            Hannes
          </div> 
    </div>
  </ion-content>
</ion-view>
