.red-icon {
    color: #e65757;
}
.green-icon {
    color: #3eea73;
}

.small-header {
    color: #807e7e;
}

.margin-right {
    margin-right: 1em;
}

.custom-margin {
    margin-top: 6em;
}

.extra-padding-left {
    padding-left: 2em;
}

.extra-padding-right {
    padding-right: 2em;
}